# 平台
CONFIG_TARGET_mediatek=y
CONFIG_TARGET_mediatek_filogic=y
CONFIG_TARGET_mediatek_filogic_DEVICE_cudy_tr3000-v1=y

# WiFi
CONFIG_PACKAGE_kmod-mt7915e=y
CONFIG_PACKAGE_kmod-mt7981-firmware=y
CONFIG_PACKAGE_mt7981-wo-firmware=y

# 网络
CONFIG_PACKAGE_dnsmasq-full=y
CONFIG_PACKAGE_firewall4=y
CONFIG_PACKAGE_wpad-basic-mbedtls=y

# USB
CONFIG_PACKAGE_kmod-usb3=y

# 性能
CONFIG_PACKAGE_kmod-tcp-bbr=y
CONFIG_PACKAGE_htop=y
CONFIG_PACKAGE_coremark=y

# 存储
CONFIG_PACKAGE_block-mount=y
CONFIG_PACKAGE_fstools=y

# Shell
CONFIG_PACKAGE_bash=y

# LuCI
CONFIG_PACKAGE_luci=y
CONFIG_PACKAGE_luci-app-firewall=y
CONFIG_PACKAGE_luci-app-upnp=y
CONFIG_PACKAGE_luci-app-filemanager=y
CONFIG_PACKAGE_luci-app-package-manager=y

# 科学上网
CONFIG_PACKAGE_luci-app-openclash=y
CONFIG_PACKAGE_luci-app-passwall2=y

# 广告
CONFIG_PACKAGE_luci-app-adbyby-plus=y
CONFIG_PACKAGE_luci-app-adguardhome=y

# iStore
CONFIG_PACKAGE_luci-app-store=y

# 温度监控
CONFIG_PACKAGE_luci-app-advancedplus=y
CONFIG_PACKAGE_luci-app-syscontrol=y

# tty
CONFIG_PACKAGE_luci-app-ttyd=y

# 压缩内存
CONFIG_PACKAGE_zram-swap=y
